body {
  margin: 0;
  padding: 0;
  border-top: 30px solid #000000;
  border-bottom: 30px solid #000000;
  overflow: auto;
}

@media only screen and (min-width: 768px) {}

header{
  position: relative;
  top: 40px;
  text-align: center;
  overflow: auto;
}

/*Positions image and text sections*/
section {
  position: relative;
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
}

/*formatting text*/
p {
  display: block;
}

footer {
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
}

a {
  background-color: white;
  margin-right: 10px;
  text-decoration: none;
}

a:hover {
  background-color: white;
}

.item {
  display: inline-block;
  margin-bottom: 15%
}

/*Position and scale of images*/
#laptop, #jordan, #earphones {
  top: 20%;
  margin: 3%;
  transform: scale(1,1);
}

/*Position of text*/
#laptopTXT, #jordanTXT, #earphonesTXT {
  max-width: 70%;
  max-height: 450px;
  position: fixed;
  margin: 5%;
  top: 7%;
  right: 3%;
  overflow: auto;
  background-color: gray;
  color: black;
  border: 10px solid #000000;
  padding: 15px;
  display: none;
}

/*Close or cancel button*/
.exit {
  position: relative;
  margin-left: 95%;
  top: -250px;
}

.exit1 {
  position: relative;
  margin-left: 95%;
  top: -250px;
}

.exit2 {
  position: relative;
  margin-left: 95%;
  top: -250px;
}
