* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #001a4d;
  overflow: auto;
  font-family: sans-serif;
}

footer {
  position: absolute;
  right: 0;
  bottom: -30;
  left: 0;
  background-color: #efefef;
  text-align: center;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

p {
  color: white;
}

#banner {
  display: block;
  margin: auto;
  width: 80%;
  padding: 15px;
}

#selector {
  text-align: center;
  color: gold;
}

#description {
  text-align: center;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  margin: auto;
  width: 90%;
  color: white;
}

#submit {
  display: block;
  margin: auto;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  font-size: 16px;
  background-color: #00b300;
  color: #ffffff;
  border-radius: 10px;
}

#submit:hover {
  background-color: #e60000;
  transition: .2s ease;
}

#meaning {
  width: 300px;
}

#action {
  /* margin-left: 50px; */
}

#meaningtitle {
  padding-right: 500px;
}

#rig {
  max-width: 50%;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  list-style: none;
  background-color: #000;
}

#rig li {
  display: inline-block;
  width: 25%;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#mainblock {
  padding-bottom: 50px;
}

#countryimg {
  margin: auto;
  display: block;
  text-align: center;
}

#actionimg {
  margin: auto;
  display: block;
  text-align: center;
}

#meaningimg {
  width: 100%;
}

#instructions {
  color: gold;
  text-align: center;
  font-size: 40px;
  margin: 10px;
  margin-top: 20px;
}

#instructorder {
  list-style-position: inside;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  color: white;
}

#instructlist1 {
  color: white;
  padding: 5px;
}

#instructlist2 {
  color: white;
  padding: 5px;
}

#instructlist3 {
  color: white;
  padding: 5px;
}

#instructlist4 {
  color: white;
  padding: 5px;
}

#instructlist5 {
  color: white;
  padding: 5px;
}

.flag {
  display: inline-block;
  margin: auto;
  padding: 50px;
  padding-bottom: 20px;
  padding-top: 40px;
}

.list {
  list-style-type: none;
  display: block;
  text-align: center;
  margin: 10px;
  padding: 15px;
}

.action {
  display: inline-block;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-right: 100px;
  padding-left: 100px;
}

.nav {
  padding: 20px;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}

.ender {
  margin: 30px;
}

.countbut {
  padding: 20px;
  font-size: 16px;
  border-radius: 12px;
}

.countbut:hover {
  color: #ffffff;
  background-color: #0080ff;
  transition: .2s ease;
}

.navbut {
  padding: 15px;
  font-size: 16px;
  margin: 10px;
  border-radius: 8px;
}

.navbut:hover {
  background-color: #666666;
  color: white;
  transition: .2s ease;
}

.column {
  display: flex;
  flex-wrap: wrap;
}

.main {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
}

.image {
  display: inline-block;
}

.rig-cell {
  display: block;
  position: relative;
  overflow: hidden;
}

.rig-image {
  display: block;
  width: 100%;
  height: auto;
  border: none;
  transform: scale(1);
  transition: all 1s;
}

.rig-overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: #004d99 url(img/link.png) no-repeat center 20%;
  background-size: 50px 50px;
  opacity: 0.5;
  transition: all 0.6s;
}

.rig-text{
  display: block;
  padding: 0 30px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  top: 45%;
  color: white;
  opacity: 0.9;
  transform: translateY(-10px);
  transition: all .3s;
}

.button-container {
  width: 520px;
  background: gray;
  overflow-y: auto;
}

.button-container > a {
  width: 100px;
  height: 100px;
  float: left;
  background: lightgray;
  margin: 15px;
}

.noline {
  text-decoration: none;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#rig li: hover .rig-overlay {
  transform: scale(1.05);
}

#rig li:hover .rig-overlay {
  opacity: 0.9;
}

#rig li:hover .rig-text {
  transform: translateY(0px);
  opacity: 0.9;
}

@media (max-width: 9000px) {
  #rig li {
    width: 100%;
  }
}

@media (max-width: 700px) {
  #rig li {
    width: 100%;
  }
}

@media (max-width: 550px) {
  #rig li {
    width: 100%;
  }
}

#table{
    display: table;
    width: auto;
    display: inline-block;
    list-style-type: none;
}

#table li {
    text-align: center;
}

label {
    display: inline-block;
    color: white;
    font-size: 18px;
    vertical-align: middle;
}

input {
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
}

.thumbsup {
  height: 200px;
  width: 200px;
  background: url("thumbsup.png");
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.thumbsup:hover {
  cursor: pointer;
  background: url("thumbsup.gif");
}

.ok {
  height: 200px;
  width: 200px;
  background: url("ok.png");
  background-color: white;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.ok:hover {
  cursor: pointer;
  background: url("ok.gif");
  background-color: white;
}

.handarm {
  height: 200px;
  width: 200px;
  background: url("handarm.png");
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.handarm:hover {
  cursor: pointer;
  background: url("handarm.gif");
}

.eye {
  height: 200px;
  width: 200px;
  background: url("eye.png");
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.eye:hover {
  cursor: pointer;
  background: url("eye.gif");
}
